.imagem{
    width: fit-content;
    height: fit-content
    display: block;
    border-radius: 10%
}

.chi{text-align: center;
font-weight: bold;
}

.butão{width: 200;
    height: 50;
    display: block;
    margin-left: 550;
    background-color: rgb(58, 123, 221);
    color: aliceblue;
}
body{
    background-color: rgb(218, 239, 245);
}


.nome{color: rgb(58, 123, 221);
    text-align: center;
}

p{text-align: justify;
font-size: large;
}

.paises{
margin-left: 50;
background-color: rgb(58, 123, 221);
}

h3{
text-align: center;
}

.meuParagrafo{
    text-align: center;
    background-color: rgb(58, 123, 221);
    padding: 10;
    border: 5px solid white;
    color: aliceblue;
    background-clip: padding-box;
}

.veja{color: rgb(58, 123, 221);
}

.coração{
    font-size: 40;
    color: rgb(58, 123, 221);
}

.coração:hover {
    color: pink;
}